<div id="container">

  <img src="../assets/trivialogo.jpeg" alt="trivialogo" id="image">
 
  <!-- <form class="search-container">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form> -->
  <div class="c2" (click)="displaysidemenu()">
    <div class="c1"></div>
    <div class="c1"></div>
    <div class="c1"></div>
  </div>
  <div *ngIf="sidemenu;" class="inline-fix">
    <app-sidemenu></app-sidemenu>
  </div>
</div>