<app-header></app-header>
<div class="container">
  <div class="box">
    <h1 class="g">Create Quiz </h1>
    <div class="topnav" id="myTopnav">
      <div class="nav" >
        <a classs="active" (click)="quizdescription()" [ngClass]="statusQuiz ? 'active' : 'notActive'">Quiz</a>
      </div>
      <div class="nav">
        <a (click)="questions()" [ngClass]="statusQuestion ? 'active' : 'notActive'">Questions</a>
      </div>
      <div class="nav">
        <a (click)="preview()" [ngClass]="statusPreview ? 'active' : 'notActive'">Preview</a>
      </div>

    </div>

    <div *ngIf="quizdescriptionshow;">
      <app-quizdesc></app-quizdesc>
    </div>

    <div *ngIf="questionshow;">
      <app-questions></app-questions>
    </div>
    <div *ngIf="previewshow;">
      <app-preview></app-preview>
    </div>

  </div>
</div>