body{
    background-image:url();
}
.a{
    
    padding:20px;
    height: 40px;
    width:100%;
    
    
    box-shadow: 0px 0px 4px 0px gray;
    
}

 .e{
    
    display:inline-block;
    height:1285px;
    width:1150px;
    margin-left:444px;
    margin-right:444px;
    margin-top:171px;
    margin-bottom:171px;
    box-shadow: 5px 5px 5px 5px gray;
  

} 
.b{
    float:right;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 15px;
}
.c{
    background-color: #8877c9;
    float: right;
    font-size:24px;
    
}
.d{
    float: right;
    font-size:24px;
    font-weight: bold;
    padding-left: 10px;
}
.f{
    text-align: left;
    display: inline-block;
    
    margin-left:30px;
    
}
.g{ 
    
    text-align: left;
    display: inline-block;
   
    margin-left:30px;
    color: #8877c9;
}
.h{
    display:block;
    margin-left: 20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:30;
   
    background-color: #8877c9;
}
.i{
    background-color: #8877c9;
    color: white;
}
.j{
    display:inline-block;
    margin:5px 145px;
  
}
.k{
    display:inline-block;
    margin-left:200px;
    margin-top:50px;
    border: none;
    border-bottom: 1px solid black;
    
}

.k:hover{
    border: none;
    border-bottom: 1px solid blue;
}
input:focus{
    outline:none;
}

.l{
    display:inline-block;
    margin-left:171px;
    margin-top:50px;
    
}
.m{
    display:inline-block;
    margin-left:189px;
    margin-top:50px;
    
}
.n{
    
        display:inline-block;
        margin-left:156px;
        margin-top:50px;
        
}
.o{
    display:inline-block;
        margin-left:91px;
        margin-top:50px;
      
}
.p{
    display:inline-block;
    margin-left:190px;
    margin-top:50px;
   
}
.q{
    display:inline-block;
    margin-left:180px;
    margin-top:50px;
    
}

.r{
    display:inline-block;
    margin-left:500px;
    margin-top:50px;
    border:1px solid gray;
    padding: 6px;
    background-color: #8877c9;
    
}
li{
    display:inline;
}
form{
    font-size:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
/* new trivia background color #8877c9 */

tr,td{
    text-align: left;
}
td{
    padding: 1rem 3rem;
}
table{
    margin: 0 auto;
}