li{
    display:inline;
}
form{
    font-size:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
/* new trivia background color #8877c9 */

tr,td{
    text-align: left;
}
td{
    padding: 1rem 3rem;
}
table{
    margin: 0 auto;
}

.btn-property {
    color:#FFF;
    background-color: #8b5ec5;
    padding: 0.2rem 1rem;
}