<div class = "container text-center">
  <form (ngSubmit)="onSubmit(quizDescForm)" #quizDescForm="ngForm" ngNativeValidate>
      <table class = "text-center">
          <tr>
  
              <td>
                  Title:
              </td>
              <td>
                  <input type="text"  [(ngModel)]="Name" name="title"  placeholder="Enter question" required>
              </td>
          </tr>
          <tr>
              <td>
                  Description:
              </td>
              <td>
                  <input type="text" [(ngModel)]="Description" name="description" placeholder="Enter description" required>
              </td>
          </tr>
          <tr>
              <td>
                  Number of Questions:
              </td>
              <td>
                  <input type="number" [(ngModel)]="NumberOfQuestion" name="noofqstn"  required min="2">
              </td>
          </tr>
          <tr>
              <td>
                  StartDate:
              </td>
              <td>
                  <!-- <input type="date" [(ngModel)]="StartDate" name="startdate" placeholder = "mm/dd/yyyy" required 
                  > -->
                  <input type="date" [ngModel] ="StartDate | date:'MM-dd-yyyy'" >
      {{dt| date:'MM-dd-yyyy'}}
              </td>
          <tr>
  
              <td>
                  EndDate:
              </td>
              <td>
                  <input type="date" id = "test" [(ngModel)]="EndDate" name="enddate" placeholder = "mm/dd/yyyy" required>
              </td>
          </tr>
          <tr>
              <td colspan="2" class = "text-center">
                  <input type="submit" value=" + Add Quiz">
              </td>
          </tr>
      </table>
  </form>
  </div>