<!-- <p align="center">
  Landing Page
</p>

<div class="jumbotron bg-transparent text-center overlay">
  <div class="card text-center">
    <table align="center">
      <tr>
        <th>#</th>
        <th>Detail</th>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{name}}</td>
      </tr>
      <tr>
        <th>ID</th>
        <td>{{id}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{email}}</td>
      </tr>
    </table>
  </div>

  <button class="btn text-center" (click)="signOut()">
    <span class="text-center bold font-white">Logout</span>
  </button>
</div> -->

<app-header></app-header>
<div id="a5" *ngIf="isvalid;">
  <app-sidemenu></app-sidemenu>
  
</div>


