.Questions, .Options, .Zs, p{
    margin: 10px;
   }
   
   input{
     margin: 10px;
   }
   
   input[type="button"], p{
     margin-top: 0px;
   }
   
   
   .Questions{
     border:  1px solid #8b5ec5;
     background-color: whitesmoke;
   }
   
   .Options{
     border: #8b5ec5 solid 1px;
   }

   .back {
    position: relative;
    bottom: 5rem; 
    left:0.4rem;

}

.float_right {
  background-color: #8b5ec5;
  color:#FFF;
  float: right;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
}
   
  
   input[value="Add Question"]{
    color: #FFF;
     background-color: #8b5ec5;
   }
   
   input[value="Add Option"]{
     color: #000;
   }
   
